<!DOCTYPE html>
<html>
<head>
  <title>Ci&T Api</title>
  <%= stylesheet_link_tag "admin", "scaffold" %>
  <!-- <%= javascript_include_tag  "lib/jquery", "lib/jquery-ui", "rails" %> -->
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="wrapper">
    <div id="header">
      <% if user_signed_in? %>
        <div id="main-nav">
          <%= menu do |m| %>
            <%= m.dashboard 'Dashboard', "#" %>
            <%= m.posts 'Posts', posts_path %>
            <%= m.applications 'Applications', oauth_clients_path %>
          <% end %>
        </div>

        <div id="user-bar">
          <%= link_to "Logout", destroy_user_session_path %>
        </div>
      <% end %>
    </div>

    <div id="content-wrapper">
      <div id="content">
        <div class="in">
          <%= flash_messages %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= yield :bottom %>
</body>
</html>

